.list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10em;
  padding-top: 1em;
  padding-inline: 2em;
  padding-block-end: 2em;

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 1.6em;
}
figure {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 10em;
  height: 10em;

  scroll-snap-align: start;
  display: grid;
  grid-auto-rows: auto;
  gap: 0.4em;
  position: relative;
  margin: 0;
  padding: 0.5em;
  user-select: none;
  text-align: center;
}
figure:last-child::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  right: -2rem;
  inline-size: 2rem;
  block-size: 100%;
  inset-inline-end: -2rem;
}
figure:hover {
  cursor: pointer;
  border: 1px solid rgba(3, 102, 214, 0.2);
}
.selected {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  filter: grayscale(0)
}
.selected > picture > img {
  filter: grayscale(0)
}
picture {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  align-self: center;
}
picture > img {
  height: 6em;
  width: 8em;
  filter: grayscale(100%);
  object-fit: cover;
}
picture > img:hover {
  filter: grayscale(0)
}
figcaption {
  height: 1.5em;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
