.outputList {
  display: grid;
  grid-auto-flow: column;

  overscroll-behavior-x: contain;
  scroll-snap-type: proximity;
  padding-inline-start: 0em;
  gap: 0.6em;
}
.setting {
  width: 8em;

  scroll-snap-align: start;
  display: grid;
  grid-auto-flow: row;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: proximity;
  padding-inline-start: 1em;
  gap: 0.4em;
  margin-right: 1em;;
  padding: 0.5em;
  user-select: none;
}
.setting:hover {
  cursor: pointer;
}
.selected {
  border: 1px solid black;
}
.select {
  min-width: 8em;
  margin-right: 1em;
}
