.top {
  height: 100px;
}
.driver {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.driver *>label {
  display: block;
}
.driverType {
  min-width: 100px;
}
.setting {
  min-width: 100px;
}
.setting *>label {
  display: block;
}
.settingChannels {
  display: flex;
  gap: 2em;
}
.channel {
  padding-right: 1em;
  border-right: 1px dotted black;
  width: 8em;
}
.features {
  display: flex;
  flex-direction: row;
}
.reload>span {
  font-family: Lucida Sans Unicode;
  font-size: 2em;
  background: transparent;
  width: 4em;
  height: 4em;
}
.meters {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}
.meter {
  border: 3px dashed transparent;
  height: 5em;
}
.channelOutputs {
  grid-auto-flow: column;
  grid-auto-columns: 10em;
  padding-top: 1em;
  padding-block-end: 2em;

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 0.6em;
  display: grid;
}
table {
  margin: 0.6em;
  margin-top: 1em;
  width: 100%;
  max-width: 10em;
}
tr {
  border-bottom: 1px solid #7d8da2;
}
.json {
  overflow: hidden;
  border-top: 1px dotted #153055;
  padding-top: 1em;
  margin-top: 2em;
}
