.system {
  padding: 1em;
}

.top {
  height: 100px;
}

.driver {
  display: inline-block;
}
.driverType {
  display: flex;
  justify-content: space-around;
}
.setting {
  width: 100%;
  max-width: 10em;
}

.reload > span {
  font-family: Lucida Sans Unicode;
  font-size: 2em;
  background: transparent;
  width: 4em;
  height: 4em;
}

.meters {
  display: flex;
  width: 30em;
}
.meter {
  margin: 1em;
  border: 3px dashed transparent;
}

table {
  width: 100%;
}
