.fixture {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
}

.text {
  position: absolute;
  bottom: 0;
}

.deleteButton {
  position: relative;
  background: #eef;
  float: right;
  top: 0;
  right: 0;
  border: 1px solid grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.deleteButton:hover {
  background: #ccc;
}
