.list {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  min-height: 230px;
  display: grid;
  grid-auto-flow: row;
  justify-content: flex-start;
  grid-auto-rows: auto;
  gap: 1em;
  padding: 1em;
}
.selected {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
