.fixture {
  position: relative;
  width: 85px;
  height: 85px;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card {
  margin: 0.5em;
  min-width: 80px;
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 15px;
}

.highCurrent {
  position: absolute;
  bottom: -3px;
  right: 2px;
}

.deleteButton {
  position: absolute;
  background: #f4f4f4;
  float: right;
  top: -5px;
  right: -5px;
  border: 1px solid grey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 100;
}
.deleteButton:hover {
  background: #ccc;
  cursor: pointer;
}
