.App {
}

.json {
  text-align: 'left';
  background: '#ccc';
  padding: '1em';
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

.whiteBg {
  background: #fff;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

a {
  &:link,
  &:visited {
    color: #365b9b;
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: #142d55;
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  letter-spacing: -0.5px;
}

.maxWidthAndCenter {
  max-width: 1224px;
  margin: 0 auto;
}

.sidePadding {
  padding: 0 1em;
}

.navigation {
  composes: maxWidthAndCenter;
}

.main {
}

.section {
  composes: maxWidthAndCenter;
  composes: sidePadding;
}
